<% form_for :user, :url => { :action => :save_order } do |form| %> 
  <p> 
   <%= label :order, :username, "Name:" %> 
   <%= form.text_field :username, :size => 40 %>   
  </p> 
  <p> 
   <%= label :order, :email, "E-Mail:" %> 
   <%= form.text_field :email, :size => 40 %> 
  </p> 
  <%= submit_tag "Place Order" , :class => "submit" %> 
<% end %>
        

        <div class="span9">
          <div class="row-fluid">
              <h1>New Tag</h1>
               <hr/>
              <form action='/admintag/create' method='post'>
                <label>标签</label>
                <input type='text' name='name' />
                <br/>
                <input type='submit' class='btn btn-primary'  />
              </form>              


          </div>
        </div>


